<!doctype html>
<html class="no-js" ng-app="active.dict">
	<head>
		<meta charset="utf-8">
		<title>Active Dictionary</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="shortcut icon" href="/favicon.ico">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">
		<!-- build:css(.) styles/vendor.css -->
		<!-- bower:css -->
		<link rel="stylesheet" href="bower_components/normalize.css/normalize.css" />
		<link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
		<link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->
	</head>
	<body ng-controller="RootController">
		<!--[if lt IE 10]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<header>
<!-- 			<div class="sidebar-btn link" ng-click="toggleSidebar()">
				<div class="inner">
					<i class="fa fa-chevron-left" ng-if="!hideSidebar"></i>				
					<i class="fa fa-chevron-right" ng-if="hideSidebar"></i>				
				</div>
			</div>
 -->
 			<div class="breadcrumps left">
				<div class="step adict-btn header-btn left" ui-sref="languages" ng-if="view==='languages' || view==='themes' || view==='words' || view==='test' ">
					{{flow[0]}}
					<!-- <i class="fa fa-mail-forward"></i> -->
				</div>
				<div class="delimiter left" ng-if="view==='words' || view==='test' || view==='themes'"></div>
				<div class="step adict-btn header-btn left" ui-sref="languages.themes({})" ng-if="view==='words' || view==='test' || view==='themes'">
					{{flow[1]}}
				</div>
				<div class="delimiter left" ng-if="view==='words' || view==='test'"></div>
				<div class="step adict-btn header-btn left" ui-sref="languages.themes.browseWords({reload: true})" ng-if="view==='words' || view==='test'">
					{{flow[2]}}
				</div>
			</div>
			<div class="app-title right">
				<div class="inner">
					Active.Dictionary				
				</div>
			</div>
		</header><!-- /header -->
		<div class="content" start-from="{'selector': 'header', 'realtive': true}">
<!-- 			<div class="sidebar" ng-class="{hide: hideSidebar}">
				<div class="menu-option link" ui-sref="home">
					<i class="fa fa-pencil-square-o"></i>
				</div>
				<div class="menu-option link" ui-sref="examine">
					<i class="fa fa-check-square-o"></i>
				</div>
			</div>
 -->
			<div ui-view></div>
		</div>

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
		<script src="bower_components/moment/moment.js"></script>
		<script src="bower_components/lodash/lodash.js"></script>
		<script src="bower_components/angular-local-json-generator/dist/json-generator.js"></script>
		<script src="bower_components/angular-ui-select/dist/select.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-google-plus/dist/angular-google-plus.js"></script>
		<script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
		<script src="bower_components/recordmp3/recordmp3.js"></script>
		<script src="bower_components/calculate-size/src/calculate-size.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='//www.google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>

		<!-- build:js({app,.tmp}) scripts/main.js -->
		<script src="data/languages-data.js"></script>
		<script src="data/flags/countries-data.js"></script>
		<script src="comps/common/app.js"></script>
		<script src="comps/common/api-svc.js"></script>
		<script src="comps/common/root-ctrl.js"></script>
		<script src="comps/common/base64-svc.js" />
		<script src="comps/common/keyboard-interface-dre.js"></script>
		<script src="comps/common/autofocus-dre.js"></script>
		<script src="comps/common/startfrom-dre.js"></script>
		<script src="comps/common/max-width-to-dre.js"></script>
<!--
 		<script src="comps/sidebar/sidebar-dre.js"></script>
		<script src="comps/sidebar/sidebar-ctrl.js"></script>
 -->
 		<script src="comps/signin/users-svc.js"></script>
		<script src="comps/signin/signin-ctrl.js"></script>
		<script src="comps/languages/languages-svc.js"></script>
		<script src="comps/languages/languages-ctrl.js"></script>
		<script src="comps/search/search-dre.js"></script>
		<script src="comps/search/search-ctrl.js"></script>
		<script src="comps/themes/themes-svc.js"></script>
		<script src="comps/themes/themes-ctrl.js"></script>
		<script src="comps/words/words-base-ctrl.js"></script>
		<script src="comps/words/browse/browse-words-ctrl.js"></script>
		<script src="comps/words/browse/recordaudio-svc.js"></script>
		<script src="comps/words/test/test-words-ctrl.js"></script>
		<script src="comps/words/words-base-ctrl.js"></script>
		<script src="comps/words/improve-memorization-svc.js"></script>
		<script src="comps/words/words-svc.js"></script>
		<script src="comps/common/config.js" />
		<!-- endbuild -->
</body>
</html>
