<div class="view-wrapper">
	<!-- <search data="themes" by="body"></search> -->
	<div class="paper themes left" ng-repeat="(key, theme) in themes track by $index">
		<div class="paper-content adict-btn">
			<div class="adict-btn word-ctrl-btn left" >
				<div class="test-state {{theme.examState}}" title="{{theme.examMsg}}" ></div>
			</div>
			<img class="flag" ng-if="language && language.flagUrl" ng-src="{{language.flagUrl}}"></img>
			<div class="body" ng-hide="theme.editMode" ng-dblclick="edit(key)" title="Double click to edit">{{theme.body}}</div>
			<textarea class="body" ng-hide="!theme.editMode"  rows="3" cols="43" maxlength="130"
				ng-model="newTheme.body" force-focus="justFocusHere" required>{{theme.body}}</textarea>				
		</div>
		<div class="adict-btn paper-btn del-btn" ng-hide="theme.editMode" title="Remove">
			<i class="fa fa-trash-o" ng-click="remove(key)"></i>
		</div>
		<div class="adict-btn paper-btn del-btn" ng-hide="!theme.editMode">
			<i class="fa fa-close" ng-click="reset(key)" title="Cancel"></i>
		</div>
		<div class="adict-btn paper-btn edit-btn" ng-hide="!theme.editMode">
			<i class="fa fa-save" ng-click="update(key)" title="Save"></i>
		</div>
		<div class="adict-btn paper-btn edit-btn" ng-hide="theme.editMode">
			<i class="fa fa-edit" ng-click="edit(key)" title="Edit"></i>
		</div>
		<div class="adict-btn paper-btn browse-btn" title="Browse the theme" ng-hide="theme.editMode">
			<i class="fa fa-search" ng-click="gotoTheme(key,theme,'browseWords')"></i>
		</div>
		<div class="adict-btn paper-btn test-btn" title="Make a test" ng-hide="theme.editMode">
			<i class="fa fa-file-text-o" ng-click="gotoTheme(key,theme,'testWords')"></i>
		</div>
	</div>
	<div class="add-btn" ng-click="activeForm=true;setFocusOnForm()">
		<div class="circle adict-btn"><i class="fa fa-plus"></i></div>
		<div class="label">Add a theme(Click or press F2)</div>
	</div>
 	<form novalidate name="addform" class="add-form themes-form" ng-class="{active:activeForm}" ng-submit="addform.$valid">
		<div class="header">
			Add theme
			<i class="fa fa-close adict-btn" tabindex="4" ng-click="activeForm=false"></i>
		</div>
		<div class="input">
			<div class="label">Theme (left {{maxThemeLength-newTheme.body.length}} symbols) 
				<div class="form-warning" ng-if="(maxThemeLength-newTheme.body.length) < 0">
					<i class="fa fa-exclamation-circle"></i><sp>The text will be trimmed
				</div>
			</div>
			<textarea ng-trim="false" ng-model="newTheme.body" rows="3" cols="32" force-focus="focusForm"></textarea>
		</div>
		<button tabindex="3" class="confirm-btn" ng-click="add()" ng-disabled="addform.$invalid">Confirm</button>
	</form>
</div>