<div class="view-wrapper" keyboard-interface>
	<div class="paper language" ng-repeat="(key, language) in languages track by $index">
		<div class="paper-content adict-btn" ng-click="langSelect(language)" title="Select">
			<img class="flag" ng-if="language && language.flagUrl" ng-src="{{language.flagUrl}}"></img>
			<h4>{{language.name}}</h4>
		</div>
		<div class="adict-btn paper-btn del-btn" title="Click to remove a language">
			<i class="fa fa-trash-o" ng-click="remove(key)"></i>
		</div>
	</div>
	<div class="add-btn" ng-click="activeForm=true;setFocus();">
		<div class="circle adict-btn"><i class="fa fa-plus"></i></div>
		<div class="label">Add a language(Click or press F2)</div>
	</div>
 	<form novalidate name="addform" class="add-form language-form" ng-class="{active:activeForm}" ng-submit="addform.$valid">
		<div class="header">
			Add language
			<i class="fa fa-close adict-btn" tabindex="4" ng-click="activeForm=false"></i>
		</div>
		<div class="input">
			<div class="label">Language</div>
			<ui-select tabindex="1" ng-model="newLanguage.selected" theme="bootstrap" ng-disabled="disabled" 
				ng-required="true" focus-uiselect="open" focus-event="justFocusHere">
				<ui-select-match placeholder="Select language...">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="language in allLanguages | filter: $select.search">
					<span ng-bind-html="language.name | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<div class="input">
			<div class="label">Flag(optional)</div>
			<ui-select tabindex="2" ng-model="flag.selected" theme="bootstrap" ng-disabled="disabled">
				<ui-select-match placeholder="Select a country flag ...">
					<img class='flag' ng-src="{{$select.selected.flagUrl}}">{{$select.selected.name}}
				</ui-select-match>
				<ui-select-choices repeat="country in allCountries | filter: $select.search">
					<img class='flag' ng-src="{{country.flagUrl}}">
					<span ng-bind-html="country.name | highlight: $select.search"></span>
				</ui-select-choices>
			</ui-select>
		</div>
		<button tabindex="3" class="confirm-btn" ng-click="add()" ng-disabled="addform.$invalid">Confirm</button>
	</form>
</div>