<div class="view-wrapper">
	<!-- <search data="words" by="word"></search> -->
	<section class="view-header">
		<div class="adict-btn paper-btn test-button" title="Start the test" ui-sref="languages.themes.testWords({'langSlug': selectedLanguage.name, langId: selectedLanguage._id, themeId: theme._id})">
			<i class="fa fa-file-text-o"></i>
			<!-- <div>Test</div> -->
		</div>
		<ul>
			<li class="view-header-label">
				<span>Show all:</span>				
			</li>
			<li>
				<input type="checkbox" ng-model="showAll">
			</li>
		</ul>
		<ul>
			<li class="view-header-label">
				<span>Translated in:</span>
			</li>
 			<li class="adict-btn" ng-class="{'first': !key || key===0}" ng-if="!languages || !languages.length || languages.length<=0">
 				<span ui-sref="languages" >Add Other Languages</span>
 			</li>
  			<li class="adict-btn" ng-class="{'first': key===0,'active': language._id === translateTo._id}" ng-repeat="(key, language) in languages" ng-click="changeTranslation(key)">
				<img ng-src="{{language.flagUrl}}" alt=""/><span>{{language['native name']}}</span>
			</li>
		</ul>
	</section>
	<section class="words-field" start-from="{'selector': '.view-header', 'realtive': true}">
	<div class="paper words left" ng-repeat="(wordKey, wordData) in words track by $index" max-width-to=".words-field">
		<div class="paper-content">
			<div class="adict-btn word-ctrl-btn left" 
				ng-click="triggerDetails(wordKey)">
				<div class="test-state" title="Details"  state-color=""></div>
			</div>
			<div class="adict-word" ng-dblclick="edit('word',wordKey)" title="Double click to update the word">
				<img class="left" ng-src="{{selectedLanguage.flagUrl}}" alt=""/>
				<div class="inline-pack">
					<div class="adict-btn adict-word-show" ng-if="!wordData.editMode.isUpdated" max-width-to=".words-field">{{wordData.word}}</div>
					<!-- onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';" -->
					<input class="adict-word-edit" type="text" 
						ng-model="wordData.editMode.word" ng-if="wordData.editMode.isUpdated"
						force-focus="focusWord"
						ng-style="{width:changeInputWidth('word',wordData.editMode.word)+'px'}">
				</div>
 			</div>
			<hr>
			<div class="adict-word flex-style">
				<img class="left" ng-src="{{translateTo.flagUrl}}" alt="" ng-if="translateTo"/>
				<!-- TODO create a trnaslation pack. There may be multiple translations for a word -->
				<section class="inline-pack translate-pack" ng-if="(wordData.translations | filter: {language: translateTo._id} ).length === 0" >
					<div class="adict-btn adict-word-show adict-msg" ng-dblclick="addTranslation(wordKey)" ng-if="translateTo && !newTranslations[wordData._id][translateTo._id]">
						2xclick to translate
					</div>
					<div class="adict-btn adict-word-show adict-msg" ui-sref="languages" ng-if="!translateTo">Add other languages</div>
				</section>
				<section class="inline-pack translate-pack" ng-repeat="(tKey,translation) in wordData.translations | filter: {language: translateTo._id}" >
					<div class="adict-btn adict-word-show" ng-dblclick="edit('translation',wordKey,tKey)" 
						ng-if="translateTo && !translation.word.editMode.isUpdated"
						title="Double click to update the translation">
						<span>{{translation.word.word}}</span>
					</div>
					<input class="adict-word-edit" type="text"
						ng-model="translation.word.editMode.word" 
						ng-if="translation.word.editMode.isUpdated" 
						force-focus="focusTranslation{{wordKey}}{{tKey}}" max-width-to=".words-field"
						ng-style="{width:changeInputWidth('updatedTranslation',translation.word.editMode.word)+'px'}">
					<span ng-if="tKey < ((newTranslations[wordData._id][translateTo._id].length>0)?wordData.editMode.translationCounter[translateTo._id]:wordData.editMode.translationCounter[translateTo._id]-1)">,</span>
				</section>
				<section class="inline-pack translate-pack" ng-repeat="(newTranslationKey,newTranslation) in newTranslations[wordData._id][translateTo._id]">
					<input class="adict-word-edit" type="text"						
						ng-model="newTranslation.translation" 
						force-focus="focusTranslation{{wordKey}}{{tKey}}" max-width-to=".words-field"
						ng-style="{width:changeInputWidth('updatedTranslation',newTranslation.translation,100)+'px'}">
						<i class="fa fa-close adict-btn paper-btn cancel-translation-btn" title="Cancel adding a translation" ng-click="delNewTranslation(wordKey,newTranslationKey)"></i>
					<span ng-if="newTranslationKey < newTranslations[wordData._id][translateTo._id].length-1">,</span>
				</section>
				<div class="inline-pack adict-btn paper-btn add-translation-btn" title="Add a translation"
					ng-if="((wordData.translations | filter: {language: translateTo._id} ).length > 0) || newTranslations[wordData._id][translateTo._id]">
					<i class="fa fa-plus-circle" ng-click="addTranslation(wordKey)"></i>
				</div>
			</div>
		</div>
		<div class="content-controler">
			<div class="adict-btn paper-btn word-ctrl-btn right" ng-if="!wordData.globalEditModeFlag && !wordData.globalNewTranslationFlag" title="Remove">
				<i class="fa fa-trash-o" ng-click="remove(wordKey)"></i>
			</div>
			<div class="adict-btn paper-btn word-ctrl-btn right" ng-if="wordData.globalEditModeFlag || wordData.globalNewTranslationFlag" title="Cancel">
				<i class="fa fa-close" ng-click="reset(wordKey)"></i>
			</div>
			<div class="adict-btn paper-btn word-ctrl-btn right" 
				ng-class="{'audioActive':recording&&selectedWordKey===wordKey,'disabled':(recording || audioProcessing)&&selectedWordKey!==wordKey}" 
				ng-click="triggerRecording(wordKey);" 
				title="Make an audio record"
				ng-if="(!audioProcessing || selectedWordKey!==wordKey) && recordAudioSupport">
				<i class="fa fa-microphone"></i>
			</div>
			<div class="right" ng-if="audioProcessing&&selectedWordKey===wordKey">
				<i class="fa fa-refresh fa-spin"></i>
			</div>
			<div class="adict-btn paper-btn word-ctrl-btn left" title="Save" ng-if="wordData.globalEditModeFlag || wordData.globalNewTranslationFlag">
				<i class="fa fa-save" ng-click="update(wordKey)"></i>
			</div>
			<div class="adict-btn paper-btn word-ctrl-btn left" 
				ng-class="{'audioActive':audioPlaying&&selectedWordKey===wordKey,'disabled':audioPlaying&&selectedWordKey!==wordKey}" 
				ng-if="wordData.meta.hasAudio"
				title="Play the record"
				ng-click="play(wordKey)">
				<i class="fa fa-volume-off"></i>
			</div>
		</div>
	</div>
	</section>
	<div class="add-btn" ng-class="{'inactive': detailsFlag}" ng-click="activeForm=true;setFocusOnForm()">
		<div class="circle adict-btn"><i class="fa fa-plus"></i></div>
		<div class="label">Add a word(Click or press F2)</div>
	</div>
 	<form novalidate name="addform" class="add-form word-form" ng-class="{active:activeForm}" ng-submit="addform.$valid">
		<div class="header">
			Add a word
			<i class="fa fa-close adict-btn" tabindex="4" ng-click="activeForm=false"></i>
		</div>
		<div class="input">
			<input type="text" ng-model="newWord" force-focus="focusForm" />
		</div>
		<button tabindex="3" class="confirm-btn" ng-click="add()" ng-disabled="addform.$invalid">Confirm</button>
	</form>
	<section class="word-meta" ng-class="{'active': detailsFlag}">
		<div>
			TODO Put the word's meta info here(test statistics, statements, etc.)
		</div>
	</section>
<!--
	<footer>
 		<div class="controls">
			<button class="footer-btn adict-btn left" ng-click="activeForm=!activeForm;setFocusOnForm()">
				<div class="fa-icons">
					<i class="fa fa-plus"></i>				
				</div>
			</button>
			<button class="footer-btn adict-btn left">
				<select ng-model="translateTo" ng-options="language as (language['639-1'] | uppercase) for language in languages">
				</select>				
			</button>
			<div class="footer-btn adict-btn right" ng-if="expanded">
				<i class="fa fa-close"></i>				
			</div>
		</div>
		<div class="meta-data"></div> <!-- The section is supposed to show the word's meta data-->
<!--
	</footer>
 -->
 </div>