<div class="signin">
	<div class="signin-info">
		<div>
			The app is still an alpha version, so changes in the data model are possible.
		</div>
		<div>
			The experience will be the best with Chrome. Gradually it will improve for the rest of the browsers.
		</div>
	</div>
	<div class="signin-buttons">
		<div class="adict-btn signin-btn" ng-click="authenticate('google')">
			<i class="fa fa-google fa-fw"></i>
			Signin with Google
		</div>
<!--
		<div class="adict-btn signin-btn"  ng-click="authenticate('twitter')">
			<i class="fa fa-twitter fa-fw"></i>
			Signin with Twitter
		</div>
		<div class="adict-btn signin-btn"  ng-click="authenticate('linkedin')">
			<i class="fa fa-linkedin fa-fw"></i>
			Signin with Linkedin
		</div>
-->
		<div class="adict-btn signin-btn"  ng-click="authenticate('facebook')">
			<i class="fa fa-facebook fa-fw"></i>
			Signin with Facebook
		</div>		
	</div>
</div>

