<div class="view-wrapper">
	<!-- <search data="words" by="word"></search> -->
	<section class="view-header">
		<div class="adict-btn paper-btn test-button" title="Browse the theme" ui-sref="languages.themes.browseWords({'langSlug': selectedLanguage.name, langId: selectedLanguage._id, themeId: theme._id})">
			<!-- <i class="fa fa-file-text"></i> -->
			<i class="fa fa-search"></i>			
		</div>
		<div>
			<ul>
				<li class="view-header-label">
					<span>Order by:</span>
				</li>
				<li class="adict-btn" ng-class="{'first': key===0,'active': item === selectedOrder}" ng-repeat="(key, item) in orderBy" ng-click="selectOrder(key)">
					<span>{{item}}</span>
				</li>
			</ul>
			<ul>
				<li class="view-header-label">
					<span>Translated in:</span>
				</li>
	 			<li class="adict-btn" ng-class="{'first': !key || key===0}" ng-if="!languages || !languages.length || languages.length<=0"><span ui-sref="languages" >Add Other Languages</span></li>
				<li class="adict-btn" ng-class="{'first': key===0,'active': language._id === translateTo._id}" ng-repeat="(key, language) in languages" ng-click="changeTranslation(key)">
					<img ng-src="{{language.flagUrl}}" alt=""/><span>{{language['native name']}}</span>
				</li>
			</ul>			
		</div>
		<div>
			<ul>
				<li class="view-header-label">
					<span>Total words:</span>				
				</li>
				<li class="first">
					<span>{{words.length}}</span>
				</li>
			</ul>
			<ul>
				<li class="view-header-label">
					<span>Tests taken:</span>				
				</li>
				<li class="first">
					<span>{{theme.meta.tests}} times</span>
				</li>
			</ul>
		</div>
	</section>
	<section class="words-field" start-from="{'selector': '.view-header', 'realtive': true}">
		<div class="paper words left" ng-repeat="(wKey, wordData) in words track by $index" ng-if="wordData.testMode.showWordFlag">
			<div class="paper-content">
				<div class="adict-word">
					<img class="left" ng-src="{{selectedLanguage.flagUrl}}" alt=""/>
					<div class="adict-word-show">{{wordData.word}}</div>
	 			</div>
				<hr>
				<div class="adict-word flex-style" ng-if="translateTo">
					<img class="left" ng-src="{{translateTo.flagUrl}}" alt=""/>
					<div class="inline-pack" ng-repeat="(tKey,translation) in wordData.translations | filter: {language: translateTo._id}" >
						<div class="adict-word-show" ng-if="wordData.testMode.wordPassed">
							<span ng-class="{'word-incorrect':!translation.testMode.correct}">
								{{translation.word.word}}
							</span>
						</div>
						<input class="adict-word-edit" type="text"
							ng-model="wordTranslationModel[wKey][tKey]"
							ng-if="!translation.testMode.passed"
							force-focus="{{'input'+wKey+tKey}}"
							ng-style="{width:changeInputWidth('updatedTranslation',wordTranslationModel[wKey][tKey],100)+'px'}">
						<span ng-if="tKey < wordData.translations.length-1">,</span>
					</div>
				</div>
			</div>
			<div class="content-controler">
				<div class="right word-ctrl-btn adict-btn paper-btn"
					ng-if = "!wordData.testMode.wordPassed" title="Next"
					ng-click="checkWord(wKey)">
					<!-- <i class="fa fa-check-circle"></i> -->
					<i class="fa fa-arrow-right"></i>
					<!-- <i class="fa fa-location-arrow"></i> -->
				</div>
				<div class="right word-ctrl-btn passed-correct"
					ng-if = "wordData.testMode.wordPassed&&wordData.testMode.allCorrect">
					<i class="fa fa-check"></i>
				</div>
				<div class="right word-ctrl-btn passed-incorrect"
					ng-if = "wordData.testMode.wordPassed&&!wordData.testMode.allCorrect">
					<i class="fa fa-warning"></i>
				</div>
				<div class="adict-btn paper-btn word-ctrl-btn left" 
					ng-class="{'audioActive':audioPlaying&&selectedWordKey===wKey,'disabled':audioPlaying&&selectedWordKey!==wKey}" 
					ng-if="wordData.meta.hasAudio"
					title="Play the record"
					ng-click="play(wKey)">
					<i class="fa fa-volume-off"></i>
				</div>
			</div>
		</div>
	</section>
</div>