<div class="header-ctrl-btn search-btn adict-btn" ng-click="toggleSearch = !toggleSearch; forceFocus()">
	<i class="fa fa-search"></i>
</div>
<form class="search-form" ng-class="{'active':toggleSearch}">
	<div class="input">
		<i class="fa fa-search"></i>
		<input type="search" ng-model="searchText" force-focus="searchForm" value="&#xf002;" placeholder="Search..."></input>
	</div>
</form>
