@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Caption);
@import url(http://fonts.googleapis.com/css?family=Hind:400,300,500,700&subset=latin,latin-ext,devanagari);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic,cyrillic-ext,latin-ext);

$header-height: 40px;
// $sidbar-width: $header-height; 
$sidbar-width: $header-height; 

$base-bkgcolor: #E9E9E9;
$form-color: #882299