.paper {
	&.language:first-child { 
		margin-left: 0px;
	}
	&.language {
		float: left;
		position: relative;
		width: 220px;
		height: 80px;
		margin-right: 20px;
		.paper-content {
			vertical-align: middle;
			h4 {
				margin-left: 50px;
				display: inline-block;
				width: 160px;
				overflow: hidden;
  			}
			.flag {
				width: 40px;
				height: 40px;
				position: absolute;
				margin-top: 5px;
				margin-left: 5px;
			}
		}
		.lang-content:before,
		.lang-content:after {
			content:"";
			display:inline-block;
			vertical-align: middle;
			height: 100%;
		}
		.lang-content:after {
			clear:both;
		}
		.del-btn {
			right: 10px;
			bottom: 10px;
		}
	}
}
.language-form {
	width: 250px;	
}