@import "base.scss";

body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: $base-bkgcolor;
	color: #333;
	font-family: 'Roboto', Arial, sans-serif;
}
.left {
	float:left;
}
.right {
	float:right;
}
.link {
	cursor: pointer;
}
.clearfix {
	clear: both;
}
.header-ctrl-btn {
	width: $header-height;
	height: $header-height;
	line-height: $header-height;
	text-align: center;
	position: fixed;
	z-index: 1003;
	font-size: 20px;
	color: white;
	&:hover {
		color: #e8e8e8
	}
}
.adict-btn {}
.adict-btn:hover {
	cursor: pointer;
}
.adict-btn:focus {
	color: #aaa;
}
.paper-btn {
	position: absolute;
	font-size: 18px;
	z-index: 1;
	color: rgba(0, 0, 0, 0.4);
	&:hover {
		color: rgba(0, 0, 0, 0.8);
	}
	&:active {
		color: rgba(0, 0, 0, 1);
	}
	&.disabled {
		color: rgba(0, 0, 0, 0.2);
	}
}
.header-btn:hover {
	color: #e8e8e8;
}

header {
	position: fixed;
	top: 0;
	width: 100%;

	display: flex; // by defualt it is flex-direction: row;
	justify-content: space-between;
	align-items: center;

	background: #649FE6;
	color: white;
	z-index: 1002;
	.fa-chevron-left  {
		margin-left: 3px;
	}
	.fa-chevron-right  {
		margin-left: 4px;
	}
	.inner {
		margin: 0 auto;
	}
	// .sidebar-btn {
	// 	height: $header-height;
	// 	width: $sidbar-width;
	// 	// background: rgba(0,0,0,0.2);
	// 	.inner {
	// 		width: 20px;
	// 	}
	// }
	.breadcrumps {
		// position: absolute;
		margin-left: $header-height;

		display: flex; // by defualt it is flex-direction: row;
		flex-wrap: wrap;

		font-size: 16px;
		font-family: 'PT Sans Caption', sans-serif;
		// font-family: 'Fjalla One', sans-serif;
		text-transform: uppercase;
		.step {
			margin-right: 5px;
			// .fa {
			// 	font-size: 12px;
			// }
			// &.active {
			// 	text-decoration: underline;
			// }
		}
		.delimiter:before {
			content: "|";
			margin: 0 10px;
		}
	}
	.app-title {
		// width: calc(100% - #{$sidbar-width});
		// height: $header-height;
		font-size: 24px;
		font-family: 'Indie Flower', cursive;
		// font-family: 'Fjalla One', sans-serif;
		font-weight: 400;
		margin-right: 15px;
		// margin-right: calc(5px + #{$sidbar-width});
		// .inner {
		// 	width: 130px;
		// }
	}
}
.content {
	position: absolute;
	top: $header-height;
	width: 100%;
	height: calc(100% - #{$header-height});
	// .sidebar {
	// 	position: fixed;
	// 	width: $sidbar-width;
	// 	left: 0;
	// 	height: 100%;
	// 	background: rgba(0,0,0,0.6);
	// 	color: #FFF;
	// 	transition: all 0.4s ease;
	// 	.menu-option {
	// 		margin: 0 auto;
	// 		padding: 8px 5px 5px 5px;
	// 		font-size: calc(#{$sidbar-width} - 10px);
	// 		&:hover {
	// 			background: rgba(0,0,0,0.5);
	// 		}
	// 	}
	// 	.label {
	// 		font-size: 12px;
	// 	}
	// 	&.hide {
	// 		left: -$sidbar-width;
	// 	}
	// }
	.view-wrapper {
		padding: 0 40px;
		width: 100%;
	}
}

.paper {
	color: #6A6A6A;
	background-color: #FFF;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
	border-radius: 3px;
	margin-top: 20px;
	position: relative;
	&:hover {
		z-index: 1000;
	}
	.paper-content {
		width: 100%;
		height: 100%;
	}

	.trash-btn {
		font-size: 22px;
		color: #9d9d9d;
		position: absolute;
		right: 10px;
		bottom: 15px;
		&:hover {
			color: #6d6d6d;
		}
	}
}

@mixin state-background($color) {
	background: radial-gradient(circle at 5px 5px, $color , #000);
	&:active {
		background: radial-gradient(circle at 5px 5px, darken($color, 10%), #000);
	}
}
.test-state {
	position: absolute;
	top: 0;
	right: 5px;
	display: block;
	border-radius: 50%;
	height: 12px;
	width: 12px;
	margin: 6px 0 0 0;
	&.ok {
		@include state-background(#00FF00);
	}
	&.todo {
		@include state-background(#FFFF00);
	}
	&.missed {
		@include state-background(#FF0000);
	}
}

.add-btn {
	position: fixed;
	height: 66px;
	width: 66px;
	bottom: 30px;
	right: 30px;
	z-index: 2;
	transition: all 0.5s ease;
	&.inactive {
		right: -100px;
	}
	.label {
		font-family: 'Hind', sans-serif;
		// font-family: 'Open Sans Condensed', sans-serif;
		position: absolute;
		right: 75px;
		// width: 500px;
		white-space: nowrap;
		display: inline;
		text-align: right;
		text-transform: uppercase;
		color: #5A5A5A;
		font-size: 18px;
		font-weight: 300;
		line-height: 66px;
		opacity: 0;
		// @include transition(opacity .3s);
	}
	.circle {
		float: right;
		border-radius: 100%;
		// width: 80px;
		// height: 100%;
		box-shadow: 0 1px 3px rgba(0,0,0,0.5);
		width: 66px;
		height: 66px;
		line-height: 66px;
		background-color: $form-color;
		font-size: 30px;
		color: white;
		text-align: center;
		// @include transition(all .2s);
	}
	&:hover{
		.label{
			opacity: 1;
		}
		.circle{
			background:#9900B2;
		}
	}
	&.disabled{
		.circle{
			background:#CDCDCD;
			cursor: default;
		}
	}
}

.flag {
	width: 20px;
	height: 20px;
}

.add-form {
	position: fixed;
	right: -300px;
	bottom: 0;
	// background-color: rgba(0,0,0,0.5);
	background-color: white;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	z-index: 1001;
	transition: all 0.5s ease;
	&.active {
		right: 10px;
	}
	.header {
		width: 100%;
		height: 34px;
		background: $form-color;
		color: white;
		font-size: 18px;
		text-align: center;
		line-height: 34px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		.fa-close {
			position: absolute;
			right: 10px;
			top: 8px;
		}
	}
	.input {
		margin: 10px;
		.label {
			color: #666;
			font-weight: 300;
			font-size: 18px;
			padding: 0 !important;
			margin: 0 0 5px 0;
			display: block;
			text-align: left;
			.form-warning {
				color: red;
				padding: 5px 0;
				font-size: 13px;
			}
		}
	}
	button {
		float: right;
		margin: 10px;
	}
	button:disabled {
		color: #aaa;
	}
}


@media (max-width: 966px) {
	header {
		flex-direction: column;
	}
	.app-title {
		order: -1; // push the title to the left when the screen shrinks
		margin: 0;
	}
}

@media (max-width: 640px) {
	header {
		.breadcrumps {
			flex-direction: column;
			text-align: center;
			margin: 0;
			.delimiter:before {
				display: none !important;
			}
		}
	}
}

@import "signin.scss";
@import "search.scss";
@import "language.scss";
@import "themes.scss";
@import "words.scss";