@import "base.scss";
search {
	position: relative;
	.search-btn {
		left: 25px;
		top: 0px;
	}
	.search-form {
		position: absolute;
		top: -$header-height;
		left: -$header-height;
		z-index: 1001;
		transition: all 0.5s ease;
		&.active {
			top: 0;
		}
		.input {
			position: relative;
			i {
				font-size: 16px;
				position: absolute;
				left: 8px;
				top: 12px;
			}
			input {
				width: 300px;
				padding:6px 15px 6px 26px;
				margin: 3px 0 0 0; 
				// background: url('./images/search.png') no-repeat 8px 6px;
			}
		}
	}	
}