.signin {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	z-index: 1004;

	.signin-info {
		padding: 0 50px;
		position: absolute;
		width: 100%;
		bottom: 0;
		color: white;
		text-align: center;
		opacity: 0.5;
	}

	.signin-buttons {
		width: 200px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 50%;
		transform: translateX(-50%);
		margin-top: -40px; /*Every button has 30px height and 10px top margin, so 4 buttons are 160px*/
		.signin-btn {
			width: 100%;
			height: 30px;
			background: #ccc;
			margin: 10px auto;
			line-height: 30px;
			border-radius: 5px;
			i {
				font-size: 16px;
				margin: 0 4px;
			}
			&:hover {
				background: #bbb;
			}
			&:active {
				background: #aaa;				
			}
		}
	}
}