@import "base.scss";
.paper {
	margin-left: 0px;
	&.themes {
		max-width: 360px;
		height: 100px;
		margin-right: $sidbar-width;
		.paper-content {
			img {
				position: absolute;
				top: 10px;
				left: 10px;
			}
			textarea {
				border: 0px;
				background: #FFE5F4;
			}
			.body {
				width: 100%;
				height: 100%;
				padding: 10px 50px;
			}			
		}
		.del-btn, .edit-btn, .browse-btn, .test-btn {
			bottom: 5px;
		}
		.del-btn {right: 10px;}
		.edit-btn {right: 30px;	}
		.browse-btn {
			left: 10px;
			.fa-search {
				font-size: 17px;
			}
		}
		.test-btn {
			left: 30px;
			.fa-file-text-o {
				font-size: 16px;
			}
		}
	}
}
.themes-form {
	width: 300px;	
}