@import "base.scss";
$words-margin-left: 20px;
.view-wrapper {
	.view-header {
		position: fixed;
		z-index: 1002;
		padding: 20px 50px 20px 0;
		width: 100%;
		min-height: 20px;

		display: flex; // by defualt it is flex-direction: row;
		justify-content: space-between;
		// align-items: center;

		background-color: $base-bkgcolor;
		.test-button {
			font-size: 24px;
			top: 50%;
			transform: translateY(-50%);
		}
		ul {
			margin: 0;
			li {
				text-transform: uppercase;
				display: inline;
				opacity: 0.7;
				&.view-header-label {
					padding-right: 10px;
				}
				&.first {
					padding: 0 !important;
					border: 0px !important;
				}
				&.adict-btn {
					padding-left: 5px;
					border-left: 1px solid grey; 
					&.active, &:hover {
						opacity: 0.9;
					}
					&:active {
						opacity: 1	;						
					}

				}
				img {
					height: 20px;
					margin-right: 2px;
					margin-top: -5px;
				}
			}
		}
	}
	.words-field {
		position: absolute;
		width: calc(100% - #{$header-height} - #{$header-height}); // set the width, because it will affect the max-width of the words
		.words {
			position: relative;
			min-width: 200px;
			height: 110px;
			margin-left: $words-margin-left;
			.paper-content {
				padding: 15px 7px 0 10px;
				height: auto;
				.adict-word {
					position: relative;
					font-size: 18px;
					white-space: nowrap;
					overflow-x: hidden; // If the word's length exceeds, max-width
					&.flex-style {
						display: flex;
						justify-content:flex-start;
						align-content:center;
						align-items:center;
						flex-direction:row;
					}
					.adict-msg {
						font-size: 13px;
						font-weight: 300;
					}
					.adict-word-show, .adict-word-edit {
						min-height: 30px;
					}
					.adict-word-show {
						display: flex;
						justify-content:center;
						align-content:center;
						flex-direction:column;
						.word-incorrect {
							text-decoration: underline;
						}
					}
					.adict-word-edit {
						border: 0px;
						border-bottom: 1px solid;
						&:focus {
							outline: 0;
							border-bottom: 1px solid;
							border-color: $form-color;
						}
					}
					.inline-pack {
						// display: inline-block;
						&:first-of-type {
							margin-left: 17px; // push left to stop overlapping between the flag and the first word
						}
						&.translate-pack:last-of-type {
							margin-right: 17px; // push right to stop overlapping between the add translation button and the last word
						}
						margin-left: 5px;
						display: flex;
						justify-content:flex-start;
						align-content:center;
						align-items:center;
						flex-direction:row;
					}
					.add-translation-btn, .cancel-translation-btn {
						font-size: 15px;						
					}
					.cancel-translation-btn {
						position: static;
						margin-left: 5px;
					}
					.add-translation-btn {
						top: 50%;
						transform: translateY(-50%);
						right: 0;
						.fa-plus-circle {
							vertical-align: middle;
						}
					}
				}
				hr {
					margin-top: 5px;
					margin-bottom: 5px;
				}
				img {
					position: absolute;
					top: 7px;
					height: 15px;
				}
			}
			.word-ctrl-btn {
				position: static;
				margin: 0 5px;
				font-size: 18px;
				&.audioActive, &.passed-incorrect {
					color: #770000;
				}
				&.passed-correct {
					color: green;
				}
			}
		}
	}
}
.word-form {
	width: 180px;
	.input {
		input {
			width: 100%;
		}
	}
}

.word-meta {
	position: fixed;
	left: 0;
	bottom: -100%;
	width: 100%;
	min-height: 100px;
	background: rgba(0,0,0,0.3);
	// color: white;
	z-index: 1003;
	transition: all 1s ease;
	&.active {
		bottom: 0;		
	}
}

@media (max-width: 640px) {
	.view-wrapper {
		.view-header {
			flex-direction: column;
		}
	}
}

// footer {
// 	position: fixed;
// 	width: 100%;
// 	height: 40px;
// 	left: 0;
// 	bottom: 0;
// 	text-align: center;
// 	font-size: 24px;
// 	background: rgba(0,0,0,0.5);
// 	z-index: 1002;
// 	.frame {
// 		position: relative;
// 		top: 40px;
// 		width: 100%;
// 		height: 100%;
// 		background: rgba(0,0,0,0.6);
// 	}
// 	.controls {
// 		color:#888;
// 		position: relative;
// 		top: 0;
// 		width: 100%;
// 		height: 40px;
// 		.footer-btn {
// 			position: relative;
// 			background: white;
// 			border: 0;
// 			border-radius: 2px;
// 			height: 30px;
// 			width: 30px;			
// 			text-transform: uppercase;
// 			line-height: 30px;
// 			margin-top: 5px;
// 			&.left {
// 				margin-left: 5px;
// 			}
// 			&.right {
// 				margin-right: 5px;
// 			}
// 			.fa {
// 				font-size: 18px;
// 			}
// 			select {
// 				position: absolute;
// 				top: 0;
// 				right: 0;
// 				background: white;
// 				-webkit-appearance: none;
// 				-moz-appearance: none;
// 				appearance: none;
// 				height: 27px;
// 				width: 30px;
// 				border: 0;
// 				border-radius: 2px;
// 	   			// border: 1px solid #ccc;
// 				font-size: 13px;
// 				text-transform: uppercase;
// 				&:focus {
// 					outline: none;
// 				}
// 			}
// 		}
// 		.exit-btn {
			
// 		}
// 	}
// }
